body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('ciudad.gif');
    background-size: cover;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: vh;
    flex-direction: column;
}

#form1, #form2 {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #DE3163;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form1 {
    margin-bottom: 30px;
}

label, input, textarea, select {
    display: block;
    margin: 10px 0;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: ghostwhite;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
